/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/

/*Fonts*/

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-dark: #323232;
  --basic-gray: #EDEDED;
  --border-gray: #D3D3D2;
  --border-basket: #CACAC7;
  --basic-basket-price: #ABABAB;
  --basic-red-light: #F26843;
  --basic-red-dark: #E74A35;
  --shadow-dark: #696969;
  --shadow-red: #AC1000;
  --shadow-red-dark: #942718;
  --reff-dark: #353535;
  --reff-red: #FFBC9E;
  --reff-red2: #E84D37;
  --basic-placeholder: #999999;
  --basic-form-dark: #5A5A5A;
  --close-btn-dark: #231F20;

  --background-white: #F8F7F4;
  --background-green: #849D8F;
  --background-gray: #8996A6;
  --background-red: #9D8B84;
  --background-red-light: #FBDED7;
  --background-red-bright: #F6B5A5;
  --background-red-dark: #D07058;
  --background-contact-field: #FEFEFE;

  --opacity-black-007: rgba(0, 0, 0, 0.07);
  --opacity-black-02: rgba(0, 0, 0, 0.2);
  --popup-background-03: rgba(0, 0, 0, 0.3);
  --opacity-black-04: rgba(0, 0, 0, 0.4);
  --opacity-gray-052: rgba(178, 178, 178, 0.52);
  --opacity-black-03: rgba(171, 171, 171, 0.3);
  --opacity-gray-02: rgba(50, 50, 50, 0.2);
  --opacity-gray-03: rgba(50, 50, 50, 0.3);
  --opacity-text-gray: rgba(49, 50, 53, 0.5);
  --opacity-white-02: rgba(255, 255, 255, 0.2);
  --opacity-white-03: rgba(255, 255, 255, 0.3);
  --opacity-white-04: rgba(255, 255, 255, 0.4);
  --opacity-white-05: rgba(255, 255, 255, 0.5);
  --opacity-white-07: rgba(255, 255, 255, 0.7);
  --opacity-price-range-scale: rgba(248, 247, 244, 0.5);
  --opacity-red-03: rgba(255, 188, 158, 0.3);
  --opacity-red-064: rgba(172, 16, 0, 0.64);
  --opacity-red-025: rgba(172, 16, 0, 0.25);
  --opacity-red-076: rgba(160, 32, 11, 0.76);
  --form-field-border-focus: rgba(46, 136, 228, 0.52);
}

/* Global */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.document-page {
  height: 100%;
}

.container {
  width: 1146px;
  padding: 0 27px;
  margin: 0 auto;
}

/*All buttons*/
.gl-btn {
  padding: 0;

  font-family: "Roboto Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: var(--basic-white);

  background: linear-gradient(180deg, var(--basic-red-light) 0%, var(--basic-red-dark) 100%);

  border: none;

  cursor: pointer;
}

.gl-btn:focus {
  outline: none;
}

.gl-btn:hover,
.gl-btn:focus {
  background: linear-gradient(0deg, var(--opacity-white-02), var(--opacity-white-02)),
  linear-gradient(180deg, var(--basic-red-light) 0%, var(--basic-red-dark) 100%);
  box-shadow: 0 2px 2px var(--shadow-red);
}

.gl-btn:active {
  background: linear-gradient(0deg, var(--opacity-black-007), var(--opacity-black-007)),
  linear-gradient(180deg, var(--basic-red-light) 0%, var(--basic-red-dark) 100%);
  box-shadow: inset 0 2px 2px var(--shadow-red-dark);
}

/* Grid */

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  background-repeat: no-repeat;
  background-position: 50% 82px;
}

.page-wrapper-1 {
  background-color: var(--background-green);
  background-image: url("../img/group 1.png");
}

.catalog-wrapper-1 {
  background-color: var(--background-green);
}

.page-wrapper-2 {
  background-color: var(--background-gray);
  background-image: url("../img/group 2.png");
}

.page-wrapper-3 {
  background-color: var(--background-red);
  background-image: url("../img/group 3.png");
}

/* Main header */

.main-header {
  display: grid;
  grid-template-rows: -webkit-min-content -webkit-min-content 1fr;
  grid-template-rows: min-content min-content 1fr;
  grid-template-columns: 154px 1fr 1fr;
  margin-bottom: 20px;
}

.index-logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-top: 9px;
}

.main-logo {
  display: inline-block;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-top: 9px;
}

.main-logo:focus > .logo-svg g,
.main-logo:hover > .logo-svg g,
.main-logo:active > .logo-svg g {
  fill: var(--reff-red);
}

/*Header navigation*/

.header-menu {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-left: 9px;
  margin-top: 22px;
}

.header-menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-menu-item {
  display: inline-block;
  position: relative;
  margin-right: 2px;

  text-align: center;
  line-height: 33px;

  vertical-align: baseline;
}

.header-menu-item:first-child {
  width: 87px;
  margin-right: 4px;
}

.header-menu-item a {
  display: inline-block;
  padding: 0 13px;

  font-family: "Roboto Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 18px;
  color: var(--basic-white);

  -webkit-text-decoration: underline solid var(--opacity-white-02);

  text-decoration: underline solid var(--opacity-white-02);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;

  box-sizing: border-box;
}

.header-menu-item:not(.current-page):hover .header-menu-reff,
.header-menu-item:not(.current-page):focus .header-menu-reff {
  color: var(--basic-dark);
  text-align: center;
  vertical-align: baseline;
  line-height: 31px;

  background-color: var(--basic-white);

  border-radius: 26px;
}

.header-menu-item:not(.current-page):active .header-menu-reff {
  background: var(--basic-gray);
  box-shadow: inset 0 2px 1px var(--shadow-dark);
}

.header-menu-item.current-page .header-menu-reff,
.header-menu-item.current-page .header-menu-reff,
.current-page .header-menu-reff:focus,
.current-page .header-menu-reff:active {
  display: inline-block;
  width: 85px;
  height: 31px;

  color: var(--basic-white);
  text-align: center;
  vertical-align: baseline;
  line-height: 31px;

  background-color: var(--background-red-dark);
  box-shadow: none;

  border-radius: 26px;
}

.hidden-menu-open {
  margin-bottom: 5px;
}

/*Hidden menu*/

.hidden-menu {
  display: none;
  position: absolute;
  left: -6px;
  min-width: 143px;
  min-height: 171px;

  background: var(--basic-white);
  box-shadow: 0 20px 20px var(--opacity-black-04);
  border-radius: 4px;
  z-index: 3;
}

.hidden-menu-title {
  margin: 10px 5px 0 5px;
  padding-bottom: 9px;
  padding-left: 16px;

  color: var(--basic-dark);
  font-size: 14px;
  line-height: 18px;
  text-align: left;

  border-bottom: 1px solid var(--opacity-gray-02);
}

.hidden-menu-list {
  list-style: none;
  padding: 0;
  margin-top: 6px;
}

.hidden-menu-item {
  margin-bottom: 5px;

  text-align: left;
}

.hidden-menu-item a {
  display: block;
  width: 100%;
  height: 27px;
  margin-bottom: -1px;
  padding-left: 21px;

  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-dark);
  font-size: 14px;
  line-height: 27px;
  box-sizing: border-box;
}

.hidden-menu-item .page-here {
  color: var(--basic-white);
  text-decoration: none;

  background: var(--background-red-dark);

  cursor: default;
}

.hidden-reff:not(.page-here):hover,
.hidden-reff:not(.page-here):focus {
  color: var(--basic-dark);

  background: var(--background-red-light);
  border: none;
}

.hidden-reff:not(.page-here):active {
  color: var(--basic-dark);

  background: var(--background-red-bright);
}

.header-menu-item:hover .hidden-menu,
.hidden-menu-open:focus + .hidden-menu {
  display: block;
}

/*Header login menu*/
.header-login-menu {
  display: flex;
  grid-column: 3 / -1;
  grid-row: 1 / 2;
  justify-self: end;
  margin-top: 23px;
  margin-bottom: 0;
  padding: 0;

  list-style: none;
}

.login-menu-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.login-menu-btn {
  height: 32px;

  font-family: "Roboto Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  color: var(--basic-white);

  background-color: var(--opacity-white-02);

  border: none;
  border-radius: 20px;
}

.login-menu-item:hover .login-menu-btn:not(.basket-btn),
.login-menu-btn:focus:not(.basket-btn) {
  color: var(--basic-dark);

  background-color: var(--basic-white);
}

.search-btn {
  display: inline-block;
  width: 32px;
  margin-right: 10px;
  padding-top: 3px;

  vertical-align: baseline;
  box-sizing: border-box;
  cursor: pointer;
}

.login-menu-item:hover .search-btn {
  top: -36px;
  right: 0;
}

.search-btn::before {
  content: url("../img/loupe_white.svg");
  display: inline-block;
  margin-top: 1px;
  margin-left: 7px;

  vertical-align: baseline;
}

.login-menu-item:hover .search-btn::before,
.search-btn:focus::before {
  content: url("../img/loupe_black.svg");
}

.login-btn {
  display: inline-block;
  margin-right: 10px;
  padding: 0 16px;

  vertical-align: baseline;
  box-sizing: border-box;
}

.login-btn::before {
  content: url("../img/entrance_white.svg");
  margin-right: 8px;

  vertical-align: -11%;
}

.login-menu-item:hover .login-btn::before,
.login-btn:focus::before {
  content: url("../img/entrance_black.svg");
}

.login-menu-item:hover .login-form {
  display: flex;
}

.basket-btn {
  display: inline-block;
  padding: 0 16px;

  vertical-align: baseline;
  box-sizing: border-box;
}

.basket-btn::before {
  content: url("../img/basket_white.svg");
  margin-right: 8px;

  vertical-align: -11%;
}
/*
.login-menu-item:hover .basket-btn::before,
.basket-btn:focus::before {
  content: url("../img/basket_black.svg");
}*/

.basket-btn.has-product {
  color: var(--basic-dark);

  background-color: var(--basic-white);
}

.basket-btn:not(.has-product) {
  cursor: default;
}

.basket-btn.has-product::before {
  content: url("../img/basket-red.svg");
  margin-right: 8px;

  vertical-align: -11%;
}

.login-menu-item:hover .basket-btn.has-product::before,
.basket-btn.has-product:focus::before {
  content: url("../img/basket-red.svg");
}

/*Search form*/

.search-field {
  display: none;
}

.login-menu-item:hover .search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 36px;
  right: 10px;
  width: 341px;
  height: 84px;

  background: var(--background-white);
  box-shadow: 0 20px 20px var(--opacity-black-04);
  border-radius: 4px;
}

.login-menu-item:hover .search-field {
  display: block;
  width: 311px;
  height: 44px;
  padding-left: 14px;

  font-family: "Roboto Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 42px;
  letter-spacing: -0.03em;

  background: var(--basic-white);
  border: 1px solid var(--border-gray);
  box-sizing: border-box;
  border-radius: 4px;
}

.search-field::-webkit-input-placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;

  color: var(--basic-placeholder);
}

.search-field::-moz-placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;

  color: var(--basic-placeholder);
}

.search-field::placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;

  color: var(--basic-placeholder);
}

.login-menu-item .search-field:hover {
  box-shadow: 0 0 0 1px var(--opacity-gray-052);
}

.login-menu-item .search-field:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--form-field-border-focus);
}

/*Login form*/

.login-form {
  display: none;
  flex-wrap: wrap;
  position: absolute;
  top: 36px;
  right: 10px;
  width: 277px;
  height: 214px;

  background: var(--background-white);
  box-shadow: 0 20px 20px var(--opacity-black-04);
  border-radius: 4px;

  z-index: 10;
}

.text-field {
  width: 241px;
  height: 44px;
  margin: 0 auto;
  padding-left: 16px;

  font-family: "Roboto Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 42px;

  background: var(--basic-white);
  border: 1px solid var(--border-gray);
  box-sizing: border-box;
  border-radius: 4px;
}

.text-field:first-of-type {
  margin-top: 20px;
}

.text-field::-webkit-input-placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-placeholder);
}

.text-field::-moz-placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-placeholder);
}

.text-field::placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-placeholder);
}

.text-field:hover {
  box-shadow: 0 0 0 1px var(--opacity-gray-052);
}

.text-field:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--form-field-border-focus);
}

.enter-btn {
  width: 103px;
  height: 44px;
  margin-left: 19px;
  padding: 0;

  line-height: 16px;

  box-shadow: 0 1px 2px var(--opacity-red-025);

  border-radius: 26px;
}

.login-reff {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  margin-left: 20px;
}

.login-reff a {
  margin-bottom: 6px;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: var(--basic-dark);
  -webkit-text-decoration: underline solid var(--opacity-gray-03);
  text-decoration: underline solid var(--opacity-gray-03);
}

.login-reff a:hover,
.login-reff a:focus,
.login-reff a:active {
  color: var(--reff-red2);
  -webkit-text-decoration: underline solid var(--opacity-red-03);
  text-decoration: underline solid var(--opacity-red-03);
}

/*Basket form*/

.basket-form {
  display: none;

}

.login-menu-item:hover .basket-form.has-product {
  display: block;
  position: absolute;
  top: 36px;
  right: 0;
  width: 539px;
  min-height: 242px;
  padding-bottom: 21px;

  background: var(--background-white);
  box-shadow: 0 20px 20px var(--opacity-black-04);
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 10;
}

.product-items-list {
  margin: 0 15px;
  padding: 15px 0;

  list-style: none;

  border-bottom: 1px solid var(--border-basket);
}

.product-item-basket {
  display: flex;
  align-items: start;
  margin-bottom: 16px;
  padding-left: 6px;
}

.product-item-basket:last-child {
  margin-bottom: 0;
}

.remove-btn {
  width: 11px;
  height: 11px;
  margin-top: 15px;

  background-color: transparent;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
  background-position: center;

  border: none;
}

.product-item-basket img {
  margin-top: 5px;
  margin-left: 9px;
  margin-right: 13px;
}

.product-item-basket span {
  display: inline-block;
  max-width: 216px;
  margin-top: 14px;

  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-dark);
  vertical-align: baseline;
}

.qty-product {
  margin-left: 31px;
}

.product-item-basket .item-price {
  color: var(--basic-basket-price);
}

.total-amount {
  margin-left: 26px;
}

.product-order {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 12px;
  margin-right: 13px;
}

.total-price span {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  color: var(--basic-dark);
}

.buy-btn {
  display: inline-block;
  margin-top: 11px;
  padding: 14px 15px;

  line-height: 16px;
  vertical-align: middle;

  box-shadow: 0 1px 2px var(--opacity-red-025);

  border-radius: 26px;
}

/*Breadcrumbs*/

.breadcrumbs {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column-reverse;
  padding-top: 20px;
}

.catalog-title {
  margin-top: -6px;
  margin-bottom: 0;

  font-family: "Roboto Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: var(--basic-white);
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-list li {
  display: inline-block;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  vertical-align: top;
}

.breadcrumbs-list li:nth-child(2) {
  margin-left: 5px;
}

.breadcrumbs-list li:last-child {
  margin-left: 5px;
}

.breadcrumbs-list li:nth-child(2)::before {
  content: url("../img/icon-right-small.svg");
  margin-right: 4px;
}

.breadcrumbs-list li:last-child::before {
  content: url("../img/icon-right-small.svg");
  margin-right: 8px;
}

.breadcrumbs-list a {
  color: var(--basic-white);
  -webkit-text-decoration: underline solid var(--opacity-white-03);
  text-decoration: underline solid var(--opacity-white-03);
}

.breadcrumbs-list a:hover,
.breadcrumbs-list a:focus,
.breadcrumbs-lista:active {
  color: var(--reff-red);
  -webkit-text-decoration: underline solid var(--opacity-red-03);
  text-decoration: underline solid var(--opacity-red-03);
}

/*Contacts*/

.header-contact {
  grid-column: 3 / -1;
  grid-row: 2 / 3;
  justify-self: end;
  margin-top: 2px;
}

.header-contact.catalog-page {
  margin-top: -4px;
}

.header-contact p {
  margin-top: 0;
  margin-left: 19px;
  margin-bottom: 8px;

  font-family: "Roboto Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.header-contact a {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}

.header-contact a:hover,
.header-contact a:focus,
.header-contact a:active {
  color: var(--reff-red);
}

/*Slider*/

.slider {
  position: relative;
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  padding-top: 271px;

  text-align: center;
  color: var(--basic-white);
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-family: "Roboto Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}

.button {
  display: inline-block;
  padding: 12px 44px;

  font-family: "Roboto Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px var(--opacity-red-076);

  background: #f26843;
  background: linear-gradient(180deg, var(--basic-red-light), var(--basic-red-dark));

  border-radius: 50px;
  box-shadow: 0 2px 2px var(--opacity-red-064);
  border: none;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(0deg, var(--opacity-white-02), var(--opacity-white-02)),
  linear-gradient(180deg, var(--basic-red-light) 0%, var(--basic-red-dark) 100%);
  box-shadow: 0 2px 2px var(--shadow-red);
}

.button:active {
  background: linear-gradient(0deg, var(--opacity-black-007), var(--opacity-black-007)),
  linear-gradient(180deg, var(--basic-red-light) 0%, var(--basic-red-dark) 100%);
  box-shadow: inset 0 2px 2px var(--shadow-red-dark);
}

.slider-controls {
  position: absolute;
  bottom: 24px;
  left: 0;
  display: flex;
  width: 79px;
  justify-content: space-between;

  z-index: 20;
}

.slider-controls button {
  padding: 0;
  width: 21px;
  height: 21px;

  background-color: transparent;

  border: 2px solid var(--basic-white);
  border-radius: 50%;

  cursor: pointer;
  outline: none;
}

.slider-control:focus,
.slider-control:hover {
  background-color: var(--opacity-white-04);
}

.slider-control:active {
  background-color: var(--basic-white);
}

.slider-control.current {
  background-color: var(--basic-white);
}

/*Main section*/

/*Promo action*/

.promo-action {
  margin-top: 19px;
}

.promo-action-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.promo-action-item {
  display: flex;
  flex-direction: column;
  width: 560px;
  min-height: 229px;
  padding-left: 17px;
  padding-right: 22px;

  border: none;
  border-radius: 16px;
  box-sizing: border-box;
}

.promo-action-item:first-child {
  background-image: url("../img/background-raspberry.png");
  background-size: cover;
}

.promo-action-item:last-child {
  background-image: url("../img/background-chocolate.png");
  background-size: cover;
}

.promo-item-title {
  margin-top: 14px;
  margin-bottom: 0;
  font-family: "Roboto Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: var(--basic-white);
}

.promo-item-text {
  margin-top: 17px;
  font-family: "Roboto Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-white);
}

.promo-item-btn {
  margin-top: 25px;
  display: inline-block;
  align-self: flex-end;
  padding: 13px 22px;

  box-shadow: 0 2px 2px var(--opacity-red-064);

  border-radius: 70px;
}

/*Product HIT*/

.product-hit {
  margin-top: 34px;
  margin-bottom: 78px;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 267px;
  min-height: 320px;
  padding-top: 6px;

  background-color: transparent;
}

.product-item:hover {
  z-index: 2;
}

.hit-wrapper::before {
  content: url("../img/hit.svg");
  position: absolute;
  top: 6px;
  left: 0;
  width: 61px;
  height: 61px;
  z-index: 5;
}

.product-title {
  margin: 0;
  font-family: "Roboto Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--basic-white);
  -webkit-text-decoration: underline solid var(--opacity-white-02);
  text-decoration: underline solid var(--opacity-white-02);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

.product-img {
  order: -2;
  z-index: -1;
}

.product-price-wrapper {
  align-self: flex-start;
  order: -1;
  margin-top: -60px;
  margin-bottom: 27px;

}

.product-price-wrapper span {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: var(--basic-white);
  text-shadow: 0 1px 3px var(--opacity-text-gray);
}

.product-price {
  font-size: 45px;
  line-height: 45px;
}

.product-weight {
  font-size: 30px;
  line-height: 35px;
}

.show-btn {
  display: none;
  margin-left: auto;
  margin-right: auto;
  padding: 11px 17px;

  line-height: 24px;
  text-align: center;

  border-radius: 50px;
  z-index: 6;
}

.product-item:hover .show-btn {
  display: block;
  position: absolute;
  bottom: -50px;
  left: 32px;
}

.product-item:hover::after {
  position: absolute;
  content: "";
  left: -13px;
  top: 0px;
  right: -13px;
  bottom: -70px;
  z-index: -1;
  background: var(--opacity-white-02);
  box-shadow: 0 20px 20px var(--opacity-black-02);
  border-radius: 4px;
  box-sizing: border-box;
}

/*Section Shop-intro*/

.shop-intro {
  min-height: 306px;
  padding: 24px 20px;
  margin-top: -38px;

  background: url("../img/pattern_2.png");
  background-size: contain;
  border-radius: 16px;

  box-sizing: border-box;
}

.shop-intro-title {
  margin-top: 0;
  margin-bottom: 16px;

  font-family: "Roboto Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-dark);
  letter-spacing: 0.003em;
}

.shop-intro-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.shop-intro-item {
  display: inline-flex;
  width: 540px;
  margin-bottom: 22px;
}

.shop-intro-item:nth-child(3), .shop-intro-item:last-child {
  margin-bottom: 0;
}

.shop-intro-item:first-child::before {
  content: url("../img/ice-cream.svg");
  margin-right: 6px;
  margin-top: -9px;
}

.shop-intro-item:nth-child(2)::before {
  content: url("../img/cow.svg");
  margin-right: 6px;
  margin-top: -9px;
}

.shop-intro-item:nth-child(3)::before {
  content: url("../img/eco.svg");
  margin-right: 6px;
  margin-top: -9px;
}

.shop-intro-item:last-child::before {
  content: url("../img/thermometer.svg");
  margin-right: 6px;
  margin-top: -9px;
}

.shop-intro-text {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark);
}

/*Section News&Subscribe*/

.news-and-subscribe {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.news-in-blog, .subscribe-box {
  width: 560px;
  min-height: 220px;

  border-radius: 16px;
  box-sizing: border-box;
}

.news-in-blog {
  padding: 18px 20px;

  background-image: url("../img/background-news.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.news-title {
  margin-top: 0;
  margin-bottom: 2px;

  font-family: "Roboto Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark);
}

.news-reff {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-dark);
  -webkit-text-decoration: underline solid var(--reff-dark);
  text-decoration: underline solid var(--reff-dark);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;

  cursor: pointer;
}

.news-reff:hover,
.news-reff:active {
  color: var(--reff-red2);
  -webkit-text-decoration: underline solid var(--opacity-red-03);
  text-decoration: underline solid var(--opacity-red-03);
}

.subscribe-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;

  background-image: url("../img/background-mail.png");
  background-position: -16px -16px;

  background-size: cover;

}

.subscribe-wrapper {
  width: 548px;
  min-height: 210px;
  padding: 24px 20px;

  background-color: var(--background-white);

  border-radius: 16px;

  box-sizing: border-box;
}

.subscribe-text {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-form-dark);
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.subscribe-field {
  width: 368px;
  height: 44px;
  padding-left: 14px;

  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  background: var(--basic-white);

  border: 1px solid var(--opacity-gray-052);
  box-sizing: border-box;
  border-radius: 6px;
}

.subscribe-field::-webkit-input-placeholder {
  color: var(--basic-placeholder);

}

.subscribe-field::-moz-placeholder {
  color: var(--basic-placeholder);

}

.subscribe-field::placeholder {
  color: var(--basic-placeholder);

}

.subscribe-field:hover {
  box-shadow: 0 0 0 1px var(--opacity-gray-052);
}

.subscribe-field:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--form-field-border-focus);
}

.subscribe-btn {
  width: 130px;
  height: 44px;

  border-radius: 70px;
}

/*Map*/

.main-map {
  position: relative;
  height: 430px;
}

.map-container {
  position: relative;
}

.map-container::before {
  content: url("../img/pin.svg");
  position: absolute;
  top: 136px;
  left: 266px;
  z-index: 1;
}

.main-map img {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 430px;
  z-index: 0;
}

.main-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 430px;

  box-sizing: border-box;

  z-index: 2;
}

.contact-field {
  position: absolute;
  top: 62px;
  right: 27px;
  width: 303px;
  min-height: 306px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 25px;

  background: var(--background-contact-field);

  border-radius: 16px;
  box-sizing: border-box;
  z-index: 3;
}

.contact-text {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-dark);
}

.contact-address {
  margin-top: 0;
  margin-bottom: 20px;

  font-family: "Roboto Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-dark);
}

.contact-phone-reff {
  margin-top: 2px;
  margin-bottom: 0;

  font-family: "Roboto Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-dark);
}

.contact-phone-reff:hover,
.contact-phone-reff:active {
  color: var(--reff-red);
}

.feedback-btn {
  align-self: center;

  margin-top: 28px;
  padding: 12px 28px;

  border-radius: 70px;
}

/*Catalog page*/

/*Section filter*/

.catalog-filter {
  margin-top: 9px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.filter-form fieldset {
  display: flex;
  flex-direction: column;
  margin-right: 11px;
  padding: 0;
  border: none;
}

.filter-form label {
  margin-bottom: 7px;
  font-family: "Roboto Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}

.sort-field label {
  margin-left: 14px;
}

.sort-select {
  position: relative;
  width: 196px;
  height: 36px;
  padding-left: 15px;
  padding-bottom: 5px;

  font-family: "Roboto Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);

  background: var(--opacity-white-02);
  background-image: url("../img/icon-down-white.svg");
  background-repeat: no-repeat;
  background-position: 169px 12px;

  border: none;
  border-radius: 20px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sort-select:focus {
  color: var(--basic-dark);

  background: var(--basic-white);
  background-image: url("../img/icon-down-black.svg");
  background-repeat: no-repeat;
  background-position: 169px 12px;
  outline: none;
}

.sort-select:hover {
  color: var(--basic-dark);

  background-image: url("../img/icon-down-black.svg");
  background-repeat: no-repeat;
  background-position: 169px 12px;
}

.sort-select > option {
  margin-top: 10px;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-dark);
}

.sort-select > option:focus {
  outline: none;
}

.range-filter {
  display: flex;
  flex-direction: column-reverse;
  width: 218px;

}

.range-controls {
  position: relative;
  height: 36px;
  padding: 0 21px;

  background: var(--opacity-white-02);
  border-radius: 20px;
}

.range-controls .scale {
  height: 2px;
  margin-top: 15px;
  padding-left: 15px;
  background: var(--opacity-price-range-scale);
}

.range-controls .bar {
  width: 60%;
  height: 2px;
  background: var(--background-white);
  opacity: 1.0;
}

.range-controls .toggle {
  position: absolute;
  top: 7px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--basic-basket-price);
  box-shadow: 0 2px 2px var(--opacity-black-03);
  cursor: pointer;
}

.range-controls .toggle:hover {
  transform: scale(1.2);
}

.range-controls .toggle-min {
  left: 34px;
}

.range-controls .toggle-max {
  left: 132px;
}

.price-controls {
  display: flex;
  margin-left: 16px;
}

.price-controls input {
  display: inline;
  width: 30px;
  padding: 0;
  margin: 0;

  font-family: inherit;
  font-size: inherit;
  text-align: left;
  color: var(--basic-white);
  border: none;
  background: transparent;
}

.filter-form .min-price,
.filter-form .max-price {
  line-height: 16px;
}

.filter-form .max-price {
  margin-left: 5px;
}

.max-price input {
  margin-left: 2px;
}

.fat-range-title {
  margin-left: 18px;
  margin-bottom: 7px;

  font-family: "Roboto Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}

.fat-range-list {
  display: flex;
  align-items: center;
  width: 425px;
  height: 36px;
  margin: 0;
  padding-left: 14px;

  background: var(--opacity-white-02);
  border: none;
  border-radius: 20px;
  box-sizing: border-box;

  list-style: none;
}

.fat-range-item {
  margin-right: 17px;
}

.fat-range-item:last-child {
  margin-right: 0;
}

.filter-radio + label,
.filter-input-checkbox + label {
  font-family: "Roboto Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  opacity: 0.8;
}

.filter-radio + label:before {
  content: url("../img/radio-off.svg");
  margin-right: 10px;
  vertical-align: -33%;
}

.filter-radio:checked + label:before {
  content: url("../img/radio-on.svg");
}

.filter-input-checkbox:hover + label,
.filter-radio:hover + label,
.filter-input-checkbox:focus + label,
.filter-radio:focus + label {
  opacity: 1.0;
}

.filter-input-checkbox:disabled + label:before,
.filter-radio:disabled + label:before {
  opacity: 0.4;
}

/*Section filter fillers*/

.filter-fillers {
  margin-top: 13px;
}

.fillers-title {
  margin-left: 14px;
  margin-bottom: 7px;

  font-family: "Roboto Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}

.fillers-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 711px;
  min-height: 38px;
  margin: 0;
  padding: 5px 14px;

  background: var(--opacity-white-02);
  border: none;
  border-radius: 20px;
  box-sizing: border-box;

  list-style: none;
}

.fillers-item {
  margin-right: 20px;
}

.fillers-item:nth-child(2) {
  margin-right: 22px;
}

.fillers-item:nth-child(3) {
  margin-right: 24px;
}

.fillers-item:nth-child(4) {
  margin-right: 21px;
}

.fillers-item:last-child {
  margin-right: 0;
}

.filter-input-checkbox + label:before {
  content: url("../img/checkbox-off.svg");
  display: inline-block;
  width: 27px;
  margin-right: 5px;
  vertical-align: -38%;
}

.fillers-item:nth-of-type(3) label:before {
  margin-right: 9px;
}

.fillers-item:nth-of-type(4) label:before {
  margin-right: 5px;
}

.fillers-item:nth-of-type(5) label:before {
  margin-right: 7px;
}

.filter-input-checkbox:checked + label:before {
  content: url("../img/checkbox-on.svg");
}

.filter-btn {
  width: 144px;
  height: 36px;
  margin-top: 37px;

  font-family: "Roboto Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);

  background: var(--opacity-white-02);
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 20px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--basic-dark);

  background: var(--basic-white);
  outline: none;
}

.filter-btn:active {
  border: none;
  box-shadow: inset 0px 2px 1px var(--shadow-dark);
}

/*Section Product catalog*/

.product-catalog {
  margin-top: 33px;
  margin-bottom: 46px;
}

.product-catalog .product-item {
  margin-bottom: 30px;
}

/*Section pagination menu*/

.pagination-menu {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 29px;

  border-bottom: 1px solid var(--opacity-white-02);
}

.pagination-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item:first-child {
  margin-right: 5px;
}

.page-number-list {
  display: flex;
  padding: 0;
  list-style: none;
}

.pagination-item-number {
  display: inline-block;
  margin-right: 4px;
  vertical-align: baseline;
}

.pagination-item-number:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: inline-block;
  min-width: 26px;
  min-height: 26px;

  font-family: "Roboto Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--basic-white);
  text-align: center;
}

.go-back,
.go-forward {
  background-image: url("../img/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.go-forward {
  background-position-x: right;
  background-position-y: center;
}

.go-back {
  transform: rotate(180deg);
}

.pagination-item .go-back:not(.disabled),
.pagination-item .go-forward:not(.disabled) {
  opacity: 1.0;
}

.pagination-item .active-now {
  color: var(--basic-dark);

  background-color: var(--basic-white);

  border-radius: 50%;

  cursor: default;
  pointer-events: none;
}

.pagination-item .disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.2;
}

.pagination-item a:hover:not(.disabled):not(.active-now) {
  cursor: pointer;
}

.pagination-item .page-link:hover:not(.active-now) {
  background-color: var(--opacity-white-02);

  border-radius: 50%;
}

.pagination-item a:focus{
  outline: none;
}

.pagination-item-number .page-link:active:not(.active-now) {
  color: var(--basic-dark);

  background-color: var(--basic-white);

  border-radius: 50%;
}

/*Footer*/

.main-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 17px;
  padding-bottom: 25px;
}

.social-reff-list {
  display: flex;
  justify-content: space-between;
  width: 168px;
  height: 32px;
  margin-top: 17px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.social-reff-item {
  display: inline-block;
  vertical-align: baseline;
}

.social-reff {
  display: inline-block;
  vertical-align: baseline;
  width: 36px;
  height: 36px;

  border: 2px solid var(--opacity-white-05);
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 0.8;
}

.social-reff:hover {
  opacity: 1.0;
}

.social-reff:active {
  border: 2px solid var(--opacity-white-07);
  opacity: 1.0;
}

.fb-reff {
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
}

.vk-reff {
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
}

.inst-reff {
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
}

.tw-reff {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
}

.footer-menu-list {
  display: flex;
  flex-wrap: wrap;
  width: 330px;
  min-height: 37px;
  margin-top: 12px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.footer-menu-item {
  display: inline-block;
  vertical-align: baseline;
  width: 144px;
}

.footer-menu-item:last-child {
  width: 186px;
}

.footer-menu-item::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 13px;
}

.like-item::before {
  content: url("../img/heart.svg");
  vertical-align: -15%;
}

.footer-menu-reff {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);

  border-bottom: 1px solid var(--opacity-white-02);
}

.like-item a {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
}

.footer-menu-reff:hover,
.footer-menu-reff:active {
  color: var(--reff-red);

  border-bottom: 1px solid var(--opacity-red-03);
}

.footer-menu-item:hover.like-item::before {
  content: url("../img/heart-red.svg");
}

.academy-block {
  display: flex;
  flex-direction: column;
}

.htmlacademy-reff:focus > .htmlacademy-svg path,
.htmlacademy-reff:hover > .htmlacademy-svg path,
.htmlacademy-reff:active > .htmlacademy-svg path {
  fill: var(--reff-red);
}

.academy-text {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-white);

}

.academy-text a {
  color: var(--basic-white);

  border-bottom: 1px solid var(--opacity-white-02);
}

.academy-text a:focus,
.academy-text a:hover,
.academy-text a:active {
  color: var(--reff-red);

  border-bottom: 1px solid var(--opacity-red-03);
}

/*Popup messages*/
.message-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--popup-background-03);
  z-index: 10;
}

.popup-show {
  display: flex;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.popup-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.message-popup {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 477px;
  height: 441px;
  padding: 15px 24px;

  background: var(--background-white);
  border-radius: 6px;
  box-sizing: border-box;
}

.message-popup-title {
  margin: 0;

  font-family: "Roboto Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--basic-dark);
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 19px;
  width: 18px;
  height: 17px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  z-index: 4;
}

.close-btn::before,
.close-btn::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 22px;
  height: 2px;
  background-color: var(--close-btn-dark);
}

.close-btn::before {
  transform: rotate(45deg);
}

.close-btn::after {
  transform: rotate(-45deg);
}

.close-btn:hover::before,
.close-btn:focus::before,
.close-btn:active::before,
.close-btn:hover::after,
.close-btn:focus::after,
.close-btn:active::after {
  background-color: var(--reff-red);
}

.message-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-text-field {
  display: block;
  width: 267px;
  height: 44px;
  margin-top: 20px;
  margin-left: 0;
  padding-left: 14px;

  font-family: "Roboto Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: left;

  background: var(--basic-white);
  border: 1px solid var(--opacity-gray-052);
  box-sizing: border-box;
  border-radius: 4px;
}

.message-text-field::-webkit-input-placeholder, .message-area-field::-webkit-input-placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-placeholder);
}

.message-text-field::-moz-placeholder, .message-area-field::-moz-placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-placeholder);
}

.message-text-field::placeholder,
.message-area-field::placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-placeholder);
}

.message-area-field {
  display: block;
  width: 428px;
  height: 154px;
  margin-top: 20px;
  padding-left: 14px;
  padding-top: 11px;

  font-family: "Roboto Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: left;

  resize: none;

  background: var(--basic-white);
  border: 1px solid var(--opacity-gray-052);
  box-sizing: border-box;
  border-radius: 4px;
}

.submit-btn {
  align-self: flex-end;
  width: 140px;
  height: 44px;
  margin-top: 25px;

  border-radius: 70px;
}

.message-text-field:hover,
.message-area-field:hover {
  box-shadow: 0 0 0 1px var(--opacity-gray-052);
}

.message-text-field:focus,
.message-area-field:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--form-field-border-focus);
}

/*Animation*/

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

